:root {
    --primary-green: #27AE60;
    --accent-green: #05A52E;
    --primary-blue: #021033;
    --primary-gray: #828282;
    --primary-smoke: #D9D9D9;
    --primary-snow: #F9F9F9;
    --primary-snow2: #F6F6F6;
    --secondary-green: #047C23;
    --secondary-blue: #1B3987;
    --color-white: #fff;
}